{{#each model.content as |post|}}
  {{blog-post post=post}}
{{/each}}

<h4>Create a New Post</h4>

<form id="NewPost">
    <p>
      {{input value=title placeholder="Title"}}
      {{input value=author placeholder="Author"}}
    </p>
    <p>
      {{textarea value=text placeholder="Content" rows="10" cols="140"}}
    </p>
    <p>
        <button {{action "createPost"}}>Publish</button>
    </p>
</form>